.DS_Store
*.pyc
2-benchmarks/godot-benchmarks/base_binaries_benchmark_results/*/*/ANALYSIS/
2-benchmarks/godot-benchmarks/base_binaries_benchmark_results/*/ANALYSIS/
3-optimization/environment/godot_source/
3-optimization/environment/godot_source_evaluation/
3-optimization/environment/data/
